.nav-height{
	height: auto;
}

.m5x{
	margin-right: 6px;
}

.m5t{
	margin-top: 8px !important;
}

.bg-matrix-1{
	background-image: linear-gradient(-45deg, pink, purple) !important;
    color:#fff;
    border-color:transparent;
}

.bg-matrix-2{
	background-image: linear-gradient(-45deg, peachpuff, orange) !important;
    color:#fff;
    border-color:transparent;
}

.bg-matrix-3{
	background-image: linear-gradient(-45deg, skyblue, steelblue) !important;
    color:#fff;
    border-color:transparent;
}

.bg-matrix-4{
	background-image: linear-gradient(-45deg, cyan, green) !important;
    color:#fff;
    border-color:transparent;
}

.tool-1{
  background-image: linear-gradient(-45deg, cyan, skyblue) !important;
    color:#fff;
    border-color:transparent;
}

.tool-2{
  background-image: linear-gradient(-45deg, red, pink) !important;
    color:#fff;
    border-color:transparent;
}

.tool-3{
  background-image: linear-gradient(-45deg, silver, grey) !important;
    color:#fff;
    border-color:transparent;
}

.tool-4{
  background-image: linear-gradient(-45deg, maroon, brown) !important;
    color:#fff;
    border-color:transparent;
}

a:hover{
  text-decoration: none;
}

#hidden-area{
	position: fixed;
	bottom: 10px;
	right: 10px;
	max-width: 350px;
	display: block;
}

.nolink:hover{
	text-decoration: none;
}

.fw-bold{
	font-weight: 600 !important;
}

/* nav tabs */

.tabs {
  overflow: hidden;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-item {
	margin-right:5px;
}

.tab-item:hover {
  border-color: rgba(0, 0, 0, 0.02);
}

.btn.tab-item.active {
  border-color: #199de9;
  box-shadow: none;
  outline: none;
}

.tab-hover.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.tab-content {
  display: none;
  padding: 0.5rem 0;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media only screen and (min-width: 992px){
	.hidden-on-up{
		display: none;
	}
	.m5x{
		margin-right: 0px;
	}
}
